{% extends 'base.html' %}

{% block content %}

<!-- <div class="menu-image-box">
    <img id="mainImage" src="data:image/png;base64, {{ encodedImage }}" class="center-fit" >
</div> -->

<div class="menu-image-box">
    <object id="mainImage" src="data:image/png;base64,{{ encodedContent }}" class="center-fit" ></object>
</div>


{% endblock %}


{% block scripts %}

<script type="text/javascript">
    var getImage = function(){
        $.ajax({ 
            medthod: 'GET',
            url:"{{ url_for('getContent') }}",
            success: function(data){
                $("#mainImage").attr('src', "data:image/png;base64," + data);
            }
        });
    };

    setInterval(getImage, 3000);
</script>

{% endblock %}
