{% extends 'base.html' %}

{% block content %}

<!-- <div class="menu-image-box">
    <img id="mainImage" src="data:image/png;base64, {{ encodedImage }}" class="center-fit" >
</div> -->

<div class="menu-image-box">
    <object id="mainContent" src="" class="center-fit" ></object>
</div>


{% endblock %}


{% block scripts %}

<script type="text/javascript">
    var getContent = function(){
        $.ajax({ 
            medthod: 'GET',
            url:"{{ url_for('getContent') }}",
            success: function(data){
                $("#mainContent").attr('src', data);
            }
        });
    };

    window.onload = getContent;

    setInterval(getContent, 3000);
</script>

{% endblock %}
